<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>All users</h1>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Age</th>
        <th>Password</th>
        <th>Role</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}">id</td>
        <td th:text="${user.getName()}">name</td>
        <td th:text="${user.getLastName()}">lastName</td>
        <td th:text="${user.getEmail()}">email</td>
        <td th:text="${user.getAge()}">age</td>
        <td th:text="${user.getPassword}">Password</td>
        <td th:text="${user.roles.toString()}">Role</td>
        <td><form th:method="GET" th:action="@{/admin/{id}(id=${user.id})}">
            <input type="submit" value="Update"/>
        </form>
        </td>
        <td><form th:method="DELETE" th:action="@{/admin/{id}/delete(id=${user.id})}">
            <input type="submit" value="Delete"/>
        </form></td>
    </tr>
</table>
</body>
<body>
<p><a href="/admin/new">Add new User</a> </p>
<div>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>